/* body{
    /* position: absolute; */
    /* width: 100%;
    height: 100%;
    /* left: 0px; */
    /* top: 0px; */ 
/* 
position: relative;
    width: 100%;
    height: 100%;
    
     */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background: url(bg1.png);
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed;
    background-size: cover; */
/* }  */ 
*{
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
img.bac{
    /* background-size: cover; */
    /* background-size: 100% 100%; */
    /* align-items: center;
    top: 5%;
    width: 80%;
    height: 100%;
} */
background-attachment: fixed; 

/* position: absolute; */
width: 100%;
height: 100%;
top: 10%;
/* left: 0px;
top: 0px; */


}
.tester{
    position: absolute;
width: 616px;
height: 248px;
left: 60%;
top: 10%;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 80px;
line-height: 116px;
display: flex;
align-items: center;
text-align: right;

color: #000000;
}
.testetext{
    position: absolute;
width: 466.25px;
height: 283px;
left: 72%;
top: 229px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;

color: #000000;
padding-top: 8%;


}
.coder{
    position: absolute;
width: 456px;
height: 316.12px;
left: 14px;
top: 10%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 116px;

color: #000000;


}
.codertxt{
    position: absolute;
width: 329px;
height: 224px;
left: 57px;
padding-top: 8%;
top: 265px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;

color: #000000;


}
.head{
    position: absolute;
width: 1440px;
height: 82px;
left: 0px;
top: 0px;

background: #000000;
}
.head p {
    /* position: absolute;
width: 1055px;
height: 31px;
left: 137px;
top: 0%;
padding-top: 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 58px;
display: flex;
align-items: center;
text-align: center;

color: #030000; */



    /* position: absolute;
width: 1440px; */
/* height: 52px;
left: 0px;
top: 0px;

background: #000000; */
    color: white;
    text-align: center;
    font-size: 199%;
    /* text-size-adjust: 10%; */
    width: 100%;

}